/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(142, 214, 209);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}